* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EBEAEC;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 400;

  margin: 0;
  padding: 0;

  min-height: 100vh;
  line-height: 1.5;
  color: #3F3A45;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50px;
  
  padding: 0 20px;
}

/* .header {
  border-bottom: 1px solid #AEAEAE;
} */

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding: 0 12px;
  color: #3F3A45;
  transition: 0.3s;
}

.nav-link:hover {
  color: #928B99;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-bottom: 1px solid #AEAEAE;
}

.section {
  width: calc(50% - 20px);
  padding: 10px 20px;
}

.section:nth-child(2n+3) {
  border-left: 1px solid #AEAEAE;
}

.section-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 50px 30px 35px;

  border-bottom: 1px solid #AEAEAE
}

.section-profile-logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.main-title {
  padding: 0;
  margin-bottom: 20px;
  color: #3F3A45;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 50px;
}

.section-subtitle {
  color: #928B99;
  line-height: 50px;
  margin-top: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-bottom: 1px solid #AEAEAE;
  margin: 0;
  padding: 20px 0;
}

.section-list {
  padding: 20px;
}

.contacts-list {
  list-style: none;
  padding: 0;
}

.section-item {
  margin-bottom: 10px;
  position: relative;
}

.section-item > span {
  color: #928B99;
}

.contacts-item {
  padding-left: 30px;
}

.contacts-item:nth-child(1)::before {
  background-image: url(../assets/images/location.svg);
}

.contacts-item:nth-child(2)::before {
  background-image: url(../assets/images/email.svg);
}

.contacts-item:nth-child(3)::before {
  background-image: url(../assets/images/github.svg);
}

.contacts-item:nth-child(4)::before {
  background-image: url(../assets/images/telegram.svg);
}

.contacts-item:nth-child(5)::before {
  background-image: url(../assets/images/discord.svg);
}

.contacts-item::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pre {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: start;
}

.section-link {
  text-decoration: none;
  color: #928B99;
  transition: 0.3s;
}

.section-link:hover {
  color: #3F3A45;
}

.footer {
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rss-logo {
  width: 120px;
  height: 45px;
  background-image: url(../assets/images/rs_school_js.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.github-link {
  text-decoration: none;
  color: #3F3A45;
  transition: 0.3s;
}

.github-link:hover {
  color: #928B99;
}


